.select {
  width: 20%;
  margin: 30px 0px 30px 30px;
  padding: 10px;
  font-size: 15px;
  color: #4e4d55;
  border-radius: 3px;
  border: 0.5px solid rgba(128, 128, 128, 0.397);
  cursor: pointer;
}

.select:focus {
  border: 2px solid #368dff;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 60px 0 40px 0;
}

.item-container {
  max-width: 300px;
  max-height: 510px;
  margin: 10px;
  padding: 15px;
  border: 1px solid gray;
}

.details-part {
  height: 50%;
  background: #fff;
  margin: auto;
}

.image-container {
  height: 250px;
  padding: 20px;
  margin: auto;
}

.image-container img {
  height: 100%;
  max-width: 100%;
  width: auto;
}

.content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}

.category {
  border: 1px solid #333;
  border-radius: 25px;
  margin: 14px 0 0 0;
  width: auto;
  max-width: 100px;
  padding: 1px;
  text-align: center;
  font-size: 11px;
  /* background-color: rgb(230, 230, 230); */
}

.price {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.item-container button {
  margin-top: 40px;
  cursor: pointer;
  border-radius: 2px;
  outline: none;
  width: 210px;
  height: 40px;
  background-color: black;
  color: white;
}

.button-centered {
  text-align: center;
}
