.navbar {
  display: flex;
  font-size: 16px;
  border-bottom: 1px solid black;
  z-index: 1;
  background-color: #686565d0;
}

.navbar > p {
  margin: 10px;
  font-size: 32px;
  font-weight: 500;
}

.scrolled {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 6px -6px #222;
  transition: moveDown 0.5s ease-in-out;
}

.cart-wrapper {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100vh;
  background-color: black;
  color: white;
  overflow-x: hidden;
  transition: ease-in 0.2s;
}

.cart-wrapper.collapsed {
  width: 0;
  transition: ease-out 0.2s;
}

.fas {
  cursor: pointer;
  margin-left: auto;
  padding: 10px 0;
}

.cart-header {
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid azure;
}

.cart-header > p {
  font-size: 24px;
  text-align: center;
}

.counter {
  margin: 15px 10px 20px 5px;
  padding: 5px;
  background-color: aliceblue;
  border-radius: 50%;
}
